 body{
 	margin: 0;
 	padding: 0;
 	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	background:rgb(250,250,150);
	text-align: center;
 }
 input{
 	width: 50px;
 	height: 50px;
 	font-size: 30px;
 	outline: none;
 	border: 2px solid lightblue;
 	margin:0px 15px 15px 15px;
 }
button{
	display: block;
	margin: 0 auto;
	margin-top: 30px;
	outline: none;
	text-decoration: none;
	background-color:rgb(200,100,50);
	color: white;
	font-size: 30px;
	width: 150px;
	height: 60px;
	line-height: 60px;
	border: none;
	transition: width 1s;
	-webkit-transition: width 1s;
	-moz-transition: width 1s;
	-o-transition: width 1s;
	cursor: pointer;

}
button:hover {
	width: 250px;
	background-color:rgb(180,80,30);

}
 .container{
 	width: 600px;
 	height: 500px;
 	position: absolute;
 	top:10%;
 	left: 50%;
 	margin:0px 0px 0px -300px ; 
 }
 .title{
 	color:  darkred;
 	font-size: 40px;
 }
 .guess{
 	max-width: 400px;
 	float: left;
 	color: rgb(80,80,80); 
 }
 .bigAB{
	margin-top: 50px;
 	font-size: 40px;
 	font-weight: 800;
 	
 	color: rgb(150,50,50);
 	text-shadow: 2px 2px rgb(150,130,130);

 	transition: font-size 1s;
 	-webkit-transition: font-size 1s;
	-moz-transition: font-size 1s;
	-o-transition: font-size 1s;
 }
 .bigAB:hover{
	font-size: 50px;

}
 .list{
 	max-width: 200px;
 	font-size:25px; 
 	float: right; 
 }
.time{
 	font-weight: 600;
 	color:rgb(130,100,100);
}

.AB{
 	display: block;
 	width: 150px;
 	background: pink;
 	margin: 5px;
 	padding: 5px;
 	border-radius: 15px;
 	color:rgb(80,80,80);
 }
.AB:hover {
	background-color: darkred;
	color: white;
	border-radius: 5px;
 }
 .overlay{
	position: absolute;
	top:0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.7);

 }
 .msgBox{
 	 width: 600px;
 	height: 500px;
 	position: absolute;
 	top:10%;
 	left: 50%;
 	margin:0px 0px 0px -300px ;  
 }
 .msg{
 	color: white;
	font-weight: 600;
	margin: 20px;
 }
 .msg-a{font-size: 120px;}
 .msg-b{font-size: 60px;}
 .msg-c{font-size: 60px;}
 .msg-d{font-size: 25px;font-weight: 400;}


.bottommsg{
 	width: 100%;
 	position: absolute;
 	bottom: 0;
 	color: black;
 	text-align: center;
 	font-family: 'Square721 BT','Montserrat', sans-serif;
 	font-size: 20px;
 }
 .bottommsg>a{text-decoration: none; }